.Footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:5px;
   height:13rem;
   color: white;
   background-color:gainsboro;
   margin-top: 1rem;
}
.footer-section {
    color: white;
    text-align: center;
  }
  
.footer-section h3 {
    color: black;
    margin-left: 1rem;
    text-align: center; 
    text-align:justify;
  }
.footer-section p {
  color: black;
  text-align:left;
  margin-left: 1rem;
}
.footer-section li{
  color: black;
  list-style:circle;
  margin-right:1rem;
}
.footer-section ul{
  padding-right: 12rem;
}
  