.heading{
    position:absolute;
    bottom: 53%;
    
    
}
.headings{
    margin-left: 1rem; 
    font-family:'Courier New', Courier, monospace;
}
.p {
    position:absolute;
    
    
    top: 44%;
    color:grey;
}

#one1{
    background-image:url('/assets/Copilot.jpg');
    background-size:contain;
}
#one2{
    background-image:url('/assets/quantum.png');
    background-size:contain;   
}
#one3{
    background-image:url('/assets/artificial-intelligence.png');
    background-size:contain;   
}
#one4{
    background-image:url('/assets/block.jpeg');
    background-size:contain;   
}
#one5{
    background-image:url('/assets/5G.jpeg');
    background-size:contain;   
}
#one6{
    background-image:url('/assets/sustainable.webp');
    background-size:contain;   
}
.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    }

    .box1 img{
        width: 100%; height: 100%;
    }

button{
    margin: 1px 1rem 7px 18rem;
    background-color:cornflowerblue;
    border-radius: 10px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: white;

}